<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-4 bg-success form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" >
        </div>
        <div class="col-xs-2 bg-danger form-group">
          <label for="am">Amount</label>
          <input type="number" id="am" class="form-control" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="addIngredient()" type="button" style="margin-right: 2px">Add</button>
      <button class="btn btn-danger" (click)="removeLastIngredient()" type="button" style="margin-right: 2px">remove</button>
      <button class="btn btn-primary"  (click)="clearList()"  type="button">clear</button>
    </div>
  </div>
    </form>
  </div>
</div>
